.item-options{
    background: rgb(255, 255, 255);
    // position: absolute;
    right: 100px;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgba(97, 97, 97, 0.282);
    // display: none;
    button{
        // display:flex;
      
        padding: 4px;
    }
}