*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----------------scrollbar----------- */
/* width */
::-webkit-scrollbar {
  width: 5px;
  /* height: 1px; */
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(161, 161, 161);
  height: 11px;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* -----------------scrollbar end----------- */

p{
  margin-bottom: 0;
  font-size: .9rem;
}
h5{
  font-size: 1rem;
}
i{
  font-size: .8rem;
}
.hr{
  height: .1px;
  /* width:20px; */
  background: rgb(197, 197, 197);
  margin-bottom: 1rem;
}
img{
  width: 100%;
}
input{
    border:1px solid rgb(158, 158, 158);
    padding: 0 10px;
    outline: 0;
}
button{
  border: 0;
  outline: 0;
  background: rgb(219, 219, 219);
  border: .px solid rgb(139, 139, 139);
  /* color: white; */
  padding:.5rem 1rem;
  /* font-size: 1px; */
  font-size: .9rem;
  border-radius: 5px;
}

/* -----------icon--------------- */
.faIcon{
  width: 20px;
  height: 20px;
}
.faplus{
  padding: 3px;
  background: rgb(235, 235, 235);
  border-radius: 50%;
  position: fixed;
  width: 22px;
  height: 22px;
  right: 30px;
  bottom: 30px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 18px -3px black;
}