.inventory {
    img {
        // width: 70px;
        text-align: center;
    }
}


// ----------- single product--------
.product {
    .product-wrapper {
        background: rgb(169, 169, 169);
        display: grid;
        grid-template-columns: 40% 1fr;
        padding: 60px 30px;

        img {
            padding: 50px;
            // background: rgb(249, 249, 249);
            margin-right: 20px;
            // border-radius: 50%;
        }

        .selling-info {
            display: flex;
            align-items: baseline;
            border: 1px solid rgb(156, 156, 156);
            // justify-content: center;
            padding: 10px;
            border-radius: 5px;
           
            p{
                margin-right: 40px;
            }
        }
        .supplier{
            // border: 1px solid rgb(156, 156, 156);
            margin: 20px 0; 
            background: #938E94;
            color: white;
            // padding: 10px;
            // border-radius: 5px;
            p{
                background: #5D5C61;
            }
            input{
                background: rgba(0, 0, 0, 0);
                color: white;
                border: 0;
                outline: 0;
                width: 14rem;
            }
            input:first-child{
                margin-right: 20px;
            }
            .toggle-switch{
                width: 30px;
                height: 15px;
                background: rgb(22, 0, 93);
                border-radius: 20px;
                display: flex;
                align-items: center;
                position: relative;
                div{
                    transition: 4s;
                    width:13px;
                    height: 13px;
                    background: rgb(247, 173, 0);
                    border-radius: 50%;
                    position: absolute;
                }
            }
        }
        .restock-item{
            border-radius: 5px;
            background: #938E94;
            box-shadow: 0px 0px 19px -5px #353434;
            
            // position: relative;
            p{
               background:#5D5C61;
            }
            input{
            }
            button {
                // background: #938E94;
                
            }
            
            

        }
    }
    .description{
        background:#B0A295;
    }
}

// ----------Add item------------
.add-item{
    .img-container{
        width: 500px;
        height:200px;
        background: rgb(193, 193, 193);
        border-radius: 5px;
        margin-right: 20px;

    }
}